body {
  background-color: #222222;
}

#appContainer {
  border: 2px solid #304040;
  background-color: #A5B0B0;
  padding: 10px;
  margin: 0 auto;
  width: 40%;
  min-width: 320px;
  text-align: center;
  font-family: Arial, sans-serif;
}

#nameInput {
  width: 200px;
}

h1 {
  color: #006080;
}

fieldset {
  display: inline-block;
  margin: 10px 5px;
}

legend {
  text-align: left;
}

select {
  width: 40px;
  background-color: #E5F0F0;
}

input {
  padding: 0 3px;
  background-color: #E5F0F0;
}

select.month {
  width: 50px;
}

.dateField {
  width: 45%;
}

.dateField > input {
  width: 70px;
}

.timeField {
  width: 25%;
}

#results {
  border: 2px solid #304040;
  background-color: #D5E0E0;
  padding: 0 10px;
  text-align: left;
  margin: 0 auto;
  width: 80%;
}

